# Created by .ignore support plugin (hsz.mobi)
miaosha.iml
.idea
target
src/main/java/com/secondkill/dao/ItemMapper.java
src/main/java/com/secondkill/dao/ItemStockMapper.java
src/main/java/com/secondkill/dao/OrderInfoMapper.java
src/main/java/com/secondkill/dao/PromoMapper.java
src/main/java/com/secondkill/dao/SequenceInfoMapper.java
src/main/java/com/secondkill/dataobject/Item.java
src/main/java/com/secondkill/dataobject/ItemExample.java
src/main/java/com/secondkill/dataobject/ItemStock.java
src/main/java/com/secondkill/dataobject/ItemStockExample.java
src/main/java/com/secondkill/dataobject/OrderInfo.java
src/main/java/com/secondkill/dataobject/OrderInfoExample.java
src/main/java/com/secondkill/dataobject/Promo.java
src/main/java/com/secondkill/dataobject/PromoExample.java
src/main/java/com/secondkill/dataobject/SequenceInfo.java
src/main/java/com/secondkill/dataobject/SequenceInfoExample.java
src/main/resources/mapper/ItemMapper.xml
src/main/resources/mapper/ItemStockMapper.xml
src/main/resources/mapper/OrderInfoMapper.xml
src/main/resources/mapper/PromoMapper.xml
src/main/resources/mapper/SequenceInfoMapper.xml
